name: CI - Linux Push

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - febiostudio3
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/linux-reusable.yml@develop
    with:
      package-name: febio-studio
      requires-sdk: true
      python-module: true
      publish: false
      aws-ami-id: ami-0fc9fd7a35f59a6cc
    secrets: inherit
