name: CI - Linux Release

on:
  workflow_dispatch:
  repository_dispatch:
    types: [release-published]

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/linux-release.yml@develop
    with:
      aws-ami-id: ${{ vars.LINUX_AMI }}
      aws-sg-id: sg-0ca7912782cf1538b
    secrets: inherit
