name: CI - FEBioStudio Release

on:
  release:
    types: [published]

jobs:
  annotate-tag:
    name: "Annotate Release Tag"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Annotated Tag"
        id: annotated-tag
        uses: febiosoftware/febio-workflows/.github/actions/annotated-tag@develop
        with:
          github-pat-token: ${{ secrets.GITHUB_TOKEN }}

  dispatch-release-workflow:
    name: "Repository dispatch release workflow"
    runs-on: "ubuntu-latest"
    needs: annotate-tag
    steps:
      - name: "Dispatch repository with release-published"
        uses: febiosoftware/febio-workflows/.github/actions/repository-dispatch@develop
        with:
          github-pat-token: ${{ secrets.GITHUB_TOKEN }}
          repository: "febiosoftware/FEBioStudio"
          client-payload: "client_payload[ref_name]=${{ github.ref_name }}"
          event-type: release-published
  
  dispatch-manuals-workflow:
    name: "Repository dispatch manuals workflow"
    runs-on: "ubuntu-latest"
    needs: annotate-tag
    steps:
      - name: "Dispatch Manuals repository with release-published"
        uses: febiosoftware/febio-workflows/.github/actions/repository-dispatch@develop
        with:
          github-pat-token: ${{ secrets.MANUALS_TOKEN }}
          repository: "febiosoftware/Manuals"
          client-payload: "client_payload[ref_name]=${{ github.ref_name }}"
          event-type: release-published
