name: CI - Windows Push

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - febiostudio3
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/windows-reusable.yml@develop
    with:
      package-name: febio-studio
      requires-sdk: true
      python-module: true
      publish: true
      aws-ami-id: ${{ vars.WINDOWS_AMI }}
    secrets: inherit
