name: CI - Windows Release

on:
  workflow_dispatch:
  repository_dispatch:
    types: [release-published]

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/windows-release.yml@fbs3
    with:
      # aws-ami-id: ${{ vars.WINDOWS_AMI }}
      aws-ami-id: ami-0cb00a4819bafc879
      aws-sg-id: sg-0ca7912782cf1538b
    secrets: inherit
