name: CI - Windows Push

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - ci/use-latest-sdk
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
jobs:
  call_workflow:
    uses: febiosoftware/febio-workflows/.github/workflows/windows-reusable-push.yml@ci/use-latest-sdk
    with:
      aws-ami-id: ami-0b18c665dbe9efa75
      aws-sg-id: sg-0ca7912782cf1538b
      aws-instance-type: c5a.8xlarge
      runTests: false
      package-name: febio-studio
      requires-sdk: true
    secrets: inherit
